{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock encabezado %}
{%block menu %}
    {%include "administrador/menu.html"%}
    {% endblock %}
    {%block contenido%}    
    <h3 class="text-center mt-3 fw-file-upload"> MODULO EMPLEADO</h3>
    <form action = "/registarSolicitud" method="post" class = "w-75 was-validated" style = "margin: 0 auto">
        {%csrf_token%}
        <div class = "mb-3">
            <label for = "txtDescription" class = "fw-bold"> 
    <br />
    <div class="row" style="margin: 0 auto !important; width:55%">
    </div>
    {% endblock %}
    {%block piePagina %}
        {%include piePagina.html%}
  {% endblock %}