<div>
    <p>Servicio Nacional de Aprendizaje SENA - CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL - Regional Cauca
        Dirección: Carrera 9 # 71 N 60 Barrio el Placer- Alto Cauca, Popayán
        Conmutador Nacional (601) 5461500 - Extensiones
        El SENA brinda a la ciudadanía, atención presencial en las 33 Regionales y 117 Centros de Formación
        Línea de atención al ciudadano, empresario y línea PQRS: Bogotá (+57) 6017366060 - Línea gratuita resto del país 018000 910270</p>
</div>